* {
    color: #C7F0AE;
    padding: 0;
    margin: 0;
}

.text {
    line-height: -1;
    display: grid;
    width: 300px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
}
span {
    font-size: 100px;
}

html body {
    background: #979797;
    background-image: url(/safarihomepage/images/greenhills.jpeg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}
